<!-- Barra de navegação do site -->
<nav id="navbar-website" class="navbar fixed-top navbar-dark cordefundo navbarwebsite">


    <!-- Navbar collapse  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    -->

   
    <div class="navpadding">

      <ul class="nav">

        <li class="nav-item">
          <a class="nav-link text-light" href="#webgente"> WebGENTE <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item divisor"></li>

        <li class="nav-item">
          <a class="nav-link text-light" href="#showroom"> Showroom </a>
        </li>

        <li class="nav-item divisor"></li>

        <li class="nav-item">
          <a class="nav-link text-light" href="#documentacao"> Documentação </a>
        </li>


      </ul>

    </div>

  </nav>