<%- include ("partials/header.ejs"); %>

<body>

    <!-- NAVBAR -->

    <div>

    <nav class="navbar navbar-expand-lg navbar-dark navbarwebgente fixed-top" id="navbar-webgente">

      <!-- Logo do webgente -->
      <a class="navbar-brand" href="/"><img src="img/webgente-fundo-escuro-120x40.png" alt=""></a>
      
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-light"></i>
      </button>

      <!-- Menu de navegação -->
      <div class="collapse navbar-collapse ulpadding" id="navbarNav">

          <ul class="navbar-nav" style="margin:auto;">

            <li class="nav-item">
              <a class="nav-link text-light" href="#top"> WebGENTE <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item divisor"></li>

            <li class="nav-item">
              <a class="nav-link text-light" href="#showroom"> Showroom </a>
            </li>

            <li class="nav-item divisor"></li>

            <li class="nav-item">
              <a class="nav-link text-light" href="#documentacao"> Documentação </a>
            </li>

            <li class="nav-item divisor"></li>

            <li class="nav-item">
              <a class="nav-link text-light" href="#news"> Blog </a>
            </li>


          </ul>

      </div>

          


    </nav>

    </div>

    <!-- FIM DA NAVBAR -->

    <!-- PÁGINA DO WEBGENTE -->
    <div id="webgente">

        <div id="map">
            <div id="search" class="container col-3 col-sm-4 col-lg-4 leaflet-top leaflet-left webgente-search-container"></div>
            <div id='webgente-legend-container' class='leaflet-bottom leaflet-right webgente-legend-container shadow p-3' style="pointer-events: all;">
              <div id='webgente-legend-graphic-container' class='webgente-legend-graphic-container'>
                <p class='webgente-legend-layer-title'>Legenda</p>
                <center><img src="http://localhost:3010/css/leaflet/images/marker-icon.png" style="height:20px;"></center>
              </div>
            </div>
            <div id='webgente-coordinates-panel' class="webgente-coordinates-panel leaflet-bottom leaflet-left">
                <div id='webgente-coordinates-container' class="webgente-coordinates-container"></div>
            </div>
            <div>
              <img src="/img/titulo-site.jpg"  class="leaflet-top" id="imagem-inicial">
            </div>
            <div>
              <img src="/img/tour-site.png"  class="leaflet-top is-animating" id="tour-inicial">  
            </div>
            <div>
              <img src="/img/tour-hover.png"  class="leaflet-top" id="tour-hover">  
            </div>
            <div id="arrow-down" class='leaflet-bottom'>
              <a href="#showroom"><i class="fas fa-chevron-down fa-3x" style="color: white;"></i></a>
            </div>
        </div>


    </div>
    <!-- FIM DA PÁGINA DO WEBGENTE -->

    <!-- PÁGINA DE SHOWROOM -->

    <div id="showroom">

    <div id="carouselSroom" class="carousel slide" data-ride="carousel">


        <ol class="carousel-indicators">
          <li data-target="#carouselSroom" data-slide-to="0" class="active"></li>
          <li data-target="#carouselSroom" data-slide-to="1"></li>
          <li data-target="#carouselSroom" data-slide-to="2"></li>
          <li data-target="#carouselSroom" data-slide-to="3"></li>
          <!--<li data-target="#carouselSroom" data-slide-to="4"></li>-->
        </ol>

        <!-- TEMPLATE PARA ADIÇÃO DE NOVOS ITENS NO CAROUSEL

          <div class="carousel-item active" style="background-color:#761616;">
            <div class="container-imagem-projeto">
              <center><img src=" ADICIONAR ENDEREÇO DA IMAGEM DO PROJETO " class="imagem-projeto"></center> 
              <center><img src="/img/sroom/girar.png" class="girarimg is-animating"></center>
              <center><img src="/img/sroom/imglink.png" data-url=" ADICIONAR LINK DO WEBGENTE " class="imagem-link"></center>
            </div>
          </div>

        -->

        <div class="carousel-inner">
          <div class="carousel-item active" style="background-color:#761616;">
            <div class="container-imagem-projeto">
              <center><img src="/img/sroom/bd.png" class="imagem-projeto"></center>
              <center><img src="/img/sroom/girar.png" class="girarimg is-animating"></center>
              <center><img src="/img/sroom/imglink.png" data-url="https://webgente.bomdespacho.mg.gov.br" class="imagem-link"></center>
            </div>
          </div>
        
          <div class="carousel-item" style="background-color: #108F8A">
            <div class="container-imagem-projeto">
              <center><img src="/img/sroom/jacobina.png" class="imagem-projeto"></center>
              <center><img src="/img/sroom/girar.png" class="girarimg is-animating"></center>
              <center><img src="/img/sroom/imglink.png" data-url="https://webgente.jacobina.genteufv.com.br" class="imagem-link"></center>
            </div>        
          </div>


          <div class="carousel-item" style="background-color: #856A35">
            <div class="container-imagem-projeto">
              <center><img src="/img/sroom/cmd.png" class="imagem-projeto"></center>
              <center><img src="/img/sroom/girar.png" class="girarimg is-animating"></center>
              <center><img src="/img/sroom/imglink.png" data-url="https://webgente.cmd.genteufv.com.br" class="imagem-link"></center>
            </div>
          </div>

          <div class="carousel-item" style="background-color: #4F8C14">
            <div class="container-imagem-projeto">
              <center><img src="/img/sroom/ufv.png" class="imagem-projeto"></center>
              <center><img src="/img/sroom/girar.png" class="girarimg is-animating"></center>
              <center><img src="/img/sroom/imglink.png" data-url="https://webgente.ufv.genteufv.com.br" class="imagem-link"></center>
            </div>
          </div>

          <!--
          <div class="carousel-item" style="background-color: #433085">
            <div>
              <center><img src="/img/sroom/gianetti.png" class="imagem-projeto"></center>
              <center><img src="/img/sroom/girar.png" class="girarimg is-animating"></center>
              <center><img src="/img/sroom/imglink.png" data-url="https://webgente.bomdespacho.mg.gov.br" class="imagem-link"></center>
            </div>
          </div>
          -->

      
        </div>
        <a class="carousel-control-prev" href="#carouselSroom" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselSroom" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

    <!-- FIM DA PÁGINA DE SHOWROOM -->

    <!-- PÁGINA DE DOCUMENTAÇÃO -->
    
    <div id="documentacao">


        <div class="box4">

            <div class="row align-items-center">
                <div class="col align-items-center">
                  <center><h3 class="text-doc">Repositório Oficial</h3></center>
                  <br>
                  <center><img src="/img/doc/git.png" id="imggit" class="doc-button"></center>
                </div>
                <div class="col align-items-center">
                  <center><h3 class="text-doc">Documentação do Sistema</h3></center>
                  <br>
                  <center><img src="/img/doc/docs.png" id="imgdoc" class="doc-button"></center>                 
                </div>
            </div>
        </div>      
    </div>

    <!-- FIM DA PÁGINA DE DOCUMENTAÇÃO -->     

    <div id="news">
      <div class="container">
        <div class="feed-blog">
          <center><h3 style="color: white;">Últimas novidades do WebGENTE:</h3></center>
          <hr>
          <div class="row" id="feed-blog-container"></div>
        </div>
      </div>
    </div>

    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-dark" href="https://www.ufv.br/">Universidade Federal de Viçosa</a> & 
        <a class="text-dark" href="https://github.com/paschendale/">Victor Marotta</a>
      </div>
      <!-- Copyright -->
    </footer>
</body>

<%- include ("partials/footer.ejs"); %>

<script>

  function fadeAndLinkShowroom() { // Controla o hover no centro do carousel e a criação de links para os projetos

    $(".imagem-link")
    .mouseenter( () => {
      $(".imagem-link").fadeTo('1s',1)
    } )
    .mouseleave( () => {
      $(".imagem-link").fadeTo('1s',0)
    } )

    $(".imagem-link").each((i,obj) => {
      $(obj).click(() => {
        window.open(obj.dataset.url,'_blank')
      })
    })
  }

  fadeAndLinkShowroom();


  // Adicionando links do repositório e da documentação via jQuery

  $('#imggit').click(() => {
    window.open('https://github.com/paschendale/webgente-node','_blank')
  })

  $('#imgdoc').click(() => {
    window.open('https://webgente.docs.genteufv.com.br','_blank')
  })

  /* Alimentação do Feed de Notícias */

  var feedURL = 'https://genteufv.com.br/blog/index.php/category/webgente/feed'
  
  $.get({
    url: 'https://api.rss2json.com/v1/api.json?rss_url=' + feedURL + '&api_key=1ncqy9amuykfdf0xd8soe1xdxzyjntvk96dnd5j7',
    success: (data) => {
      console.log('https://api.rss2json.com/v1/api.json?rss_url=' + feedURL + '&api_key=1ncqy9amuykfdf0xd8soe1xdxzyjntvk96dnd5j7')
      console.log(data)
      for(i=0;i<data.items.length;i++) {
        if(i==4){
          break;
        }
        $('#feed-blog-container').append(feedCardHTML(data.items[i]))
      }
    }
  });

  function feedCardHTML(entry) {

    if(entry.thumbnail == undefined || entry.thumbnail == ''){
      entry.thumbnail = './img/Aplicacao_Exemplo2.png'
    }

    date = new Date(entry.pubDate)

    date = date.getDay() + ' de ' + date.toLocaleString('default', { month: 'long' }) + ' de ' + date.getFullYear()

    return '<div class="col"><div class="card"><img class="card-img-top img-fluid" src="'+entry.thumbnail+'" alt="Card image cap"><div class="card-body"><h5 class="card-title">'+entry.title+'</h5><h6 class="card-subtitle text-muted">'+date+'</h6><hr><div class="card-text">'+entry.description+'</div><a href="'+entry.link+'" target="_blank" class="btn btn-dark">Veja mais</a></div></div></div>'
  }

  function resizeCardText() {

    card = document.getElementsByClassName('card')
    card_text = document.getElementsByClassName('card-text')

    function cutCardText(card) {
      card.text().substring(0,card.text().length-1)
    }

    for (i = 0; i < card_text.length; i++) {
      console.log('resized card ' + i)
      while ($(card[i]).innerHeight > window.innerHeight*0.8) {
        cutCardText($(card_text[i]))
      }     
    }   
  }


</script>

<!-- Modais -->
